<html>
<head>
<title>you are lost in frames</title>
<style type="text/css">
<!--

A:link
{ text-decoration: none; color:yellow }
A:visited
{ text-decoration: none; color:gold }
A:active
{ text-decoration: underline overline; color:#000000 }
A:hover
{ text-decoration: underline; color:#000000 }

body 
{ font-family: arial; 
color: #ffffff ; 


scrollbar-face-color : #840039; 
scrollbar-highlight-color : #000000; 
scrollbar-3dlight-color : #ffffff; 
scrollbar-shadow-color : #000000; 
scrollbar-darkshadow-color : #ffffff; 
scrollbar-track-color : #840039; 
scrollbar-arrow-color : #ff9ca4 }

-->
</style>
</head>
<body>
<BODY STYLE="background-color:transparent">
<B><FONT size="4" color="black">The Terrorist Within Us</font></B>
<BR><FONT SIZE="2" COLOR="gray">[02/24/02]</FONT>
<P><HR><P>
<FONT SIZE="2">


In times of grief, the need for an explanation is quite natural.  In the weeks after the September 11th tragedy, the American people quite readily believed and clung on to the Bush administration’s charge that Afghani Osama bin Laden and his Al Qaeda terrorist group was responsible for the attacks.  However, five months later, the situation has become ridiculous.  The insanity of the sequence of events questions the legitimacy of what has been dubbed as “The War Against Terrorism”.  In fact, upon closer inspection, the likelihood of this war being a creation of the US government far outweighs all the other explanations that they have put forth.
<P>
The government’s proof is far from reliable.  The extent of bin Laden’s guilt is so obvious, that he could not have been responsible.  As each week rolls by, another piece of evidence that incriminates him is revealed.  It seems that intelligence agents are able to stumble upon clues and evidence quite easily because whenever Taliban members plot, they like to videotape themselves doing it and then leave it lying around in their caves.  The Northern Alliance recently claimed to have found a treasury of documents from more than twenty houses in Kabul (1).  They could not interpret the Arabic in which the documents were in, but luckily, the US was able to translate them into explicit unapologetic confessions.

<P>
Besides videos and memos, a mountain of other materials were found.  Items, such as photographs of monuments, instruction manuals and maps (2), are too vague to draw any conclusions from, but it is their ambiguity that provides the opportunity to invent theories on what the Taliban has in store for America.  Bush has drawn a connection between terrorism and nuclear and chemical weapons (3), and is now seeing ghosts.  It is a classic example of hermeneutics: be it a bottle of blue water or a math formula scribbled on a napkin, it confirms biological warfare development.
<P>
However, all of this provides solid footing for Bush’s claims, which is why his government is releasing so much of the evidence to the public.  Its effectiveness is echoed in the words of New York City Mayor Giuliani, who upon viewing bin Laden’s videotape, called it “chilling”.  He declared that it was complete, detailed, and provided proof that justified US action (4). 
<P>
This is indeed a brilliant way to build the US’s image.  Their Public Relations department must have long realized that the more Americans hate this mysterious Emmanuel Goldstein figure, the more they will love their country.  The days following September 11th were infected with rabid nationalism (5).  Proud displays of the flag shot up, accompanied by financial and blood donations.  United by a common loss, people felt the urge to give, to the extent that in January, the September 11th Fund had to ask them to stop sending in donations (6).
<P>
Meanwhile, Big Brother Bush’s popularity is at an all-time high.  Throughout his first year in office, he was ridiculed as an idiot.  Now, he is a national hero, and was even nominated for the Nobel Peace Prize this year (7).  The public loves his patriotic speeches, especially with his juvenile usage of the words “good” and “evil”.  After all, he diverts their attention away from more somber issues like the failing American economy (8).  However, the dangerous underside is the control the government now has over their citizens.  Powerful “anti-terror bills” are being passed, with the public completely unaware of the civil rights that are slowly being taken away.  The government’s powers, which now include being able to detain suspects without charges (9), and the speed and undeterred efficiency with which it can deliver its blows, will only turn these charades into a full-fledged witch-hunt reminiscent of the McCarthy trials (10).
<P>
As the days progress, perhaps the people will slowly realize the American government’s complete control over the war, which has no direction.  No matter how many cities Allied troops trample on, the public is constantly told that there are a lot more terrorists out there, and if they are not immediately captured, they could show up on your front porch as soon as tomorrow morning (11).  There is no way of telling when the Americans have won the war, so its troops will keep bombing until whichever unfortunate country cries ‘uncle’.
<P>
At this point, Bush will close his eyes and randomly pick his next victim.  Since the definition of a “terrorist” is so broad, it can literally be anybody.  After Afghanistan was beaten and stomped to the ground, the Bush administration immediately extended the term to mean Iraq, Iran and North Korea, which he has branded with the media-friendly catch phrase “axis of evil” (12).  The fact that these three countries had not committed any specific acts against the US did not deter Bush at all; he merely made up his own reasons.  He explained that these countries were threats to the world, and as “freedom-lovers”, the Americans must battle those who are opaque, have a bad history, and are “so dictatorial that they starve their own people” (13).  It is admirable that he can still speak so forcefully while suffering from an amnesia that blocks him from realizing the state of his own country.
<P>
Though other nations are now starting to see the full picture of the threat Bush poses to world peace, it is difficult to challenge the US.  Because September 11th was an intimate attack on America, any forms of retaliation, including further follow-up retaliation, is still seen as not offensive, but defensive.  When Bush’s “terrorism expansion” was proposed, he was met with the disapproval of many countries, but not one nation made any attempt to stop him.  Last week, Canadian PM Chrétien adamantly refused to support the Americans should they start to attack other countries, but admitted quite pitifully that there was nothing he could do if they went ahead with their plans alone (14).   Tragically, many other countries have a similar standing, and as the books will tell us, it was inaction from the other nations that allowed the Nazis to see the light of day.
<P>
The absolute power and control of the United States is getting too dangerous to continue.  The world cannot see through all of the propaganda, paranoia, ignorance and fear.  It is indeed history repeating itself.  The government sees red in everything but their own hands.  We all have a responsibility to the world, ourselves and our children to stop the insanity.  The tail can only wag its dog if it’s smarter, so if they start telling you that there are terrorists hiding in the shadows who got away, don’t believe it.  It is only half-true; the terrorists are operating in broad daylight.
<P><HR><P>

<font face="Arial,Helvetica" size="3" color="black"><B>
Works Cited</b></FONT>
<P>


1.  Donovan, Kevin.  2001.  “Alliance seizes Al Qaeda evidence.”  22 Nov.  
<http://www.thestar.com/NASApp/cs/ContentServer?pagename=thestar/Layout/Article_Type1&c=Article&cid=1006383749420&call_page=TS_AttackOnAmerica_Nov16&call_pageid=1004617856084&call_pagepath=News/World/US-Bombings&col=1004617855515>  (23 Feb, 2002).

<P>
2.  Donovan 2001 / 23 Feb, 2002.
<P>
3.  Siddiqui, Haroon.  2002.  “Pluses and minuses of attacking Iraq.”  21 Feb.  <http://www.thestar.ca/NASApp/cs/ContentServer?pagename=thestar/Layout/Article_Type1&c=Article&cid=1014203907817&call_page=TS_News_Columnists&call_pageid=970599109774&call_pagepath=Columnists>  (23 Feb, 2002).
<P>
4.  “Americans React to Bin Laden Tape.”  2001.  ABCNews.com.  14 Dec.  <http://more.abcnews.go.com/sections/us/dailynews/strikes_obltape_usreax011213.html>  (23 Feb, 2002).
<P>
5.  Dimanno, Rosie.  2001.  “‘We will endure.’”  15 Sep.  <http://www.thestar.ca//NASApp/cs/ContentServer?pagename=thestar/Layout/Article_Type1&c=Article&cid=1000504981954&call_page=TS_AttackOnAmerica_Day5&call_pageid=1000375595058&call_pagepath=News/World/US-Bombings&col=1000375594140>  (23 Feb, 2002)
<P>
6.  United Way of New York City.  2002.  “Americans asked to stop sending donations to the September 11th Fund.”  16 Jan.  <http://www.uwnyc.org/sep11/jan16_release.html> (23 Feb, 2002).
<P>
7.  Associated Press.  2002.  “Bush, Giuliani, nominated for Nobel Peace Prize.”  21 Feb.  <http://www.salon.com/politics/wire/2002/02/21/nobel/.  (23 Feb, 2002).
<P>
8.  Siddiqui 2002 / 23 Feb, 2002.
<P>
9.  CBS.  2001.  “Bush Signs Anti-Terror Bill.”  26 Oct.  <http://www.cbsnews.com/now/story/0,1597,315061-412,00.shtml>  (23 Feb, 2002).
<P>
10.  MacCharles, Tonda.  2001.  “Legal experts urge senators to change anti-terror bill.”  The Toronto Star.  6 Dec.  <http://www.thestar.com/NASApp/cs/ContentServer?pagename=thestar/Layout/Article_Type1&c=Article&cid=1007603268617&call_page=TS_AttackOnAmerica_Nov30&call_pageid=1007382634505&call_pagepath=News/World/US-Bombings&col=1007382633728>  (23 Feb, 2002).
<P>
11.  Bush, George.  2002.  “President Delivers State of the Union Address.”  29 Jan.  <http://www.whitehouse.gov/news/releases/2002/01/20020129-11.html>  (23 Feb, 2002).
<P>
12.  Associated Press.  2002.  “Bush defends ‘axis of evil’ policy.”  18 Feb.  <http://www.thestar.com/NASApp/cs/ContentServer?pagename=thestar/Layout/Article_Type1&c=Article&cid=1014030315492&call_page=TS_AttackOnAmerica_Dec7&call_pageid=1007382634643&call_pagepath=News/World/US-Bombings&col=1007382633839>   (23 Feb, 2002).
<P>
13.  Associated Press 2002 / 23 Feb, 2002.
<P>
  14. Harper, Tim.  2002.  “Canada resists U.S. pressure on Iraq.”  19 Feb.  <http://www.thestar.com/NASApp/cs/ContentServer?pagename=thestar/Layout/Article_Type1&c=Article&cid=1014073356317&call_page=TS_AttackOnAmerica_Dec7&call_pageid=1007382634643&call_pagepath=News/World/US-Bombings&col=1007382633839>  (23 Feb, 2002).



<P><HR><P>
<CENTER>* * *</CENTER>
</FONT>

</body>
</html>