body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: transparent;
	color: #000000;

}
b {
	color: #666666;
}
strong {
	color: #666666;
}
a {
	text-decoration: none;
}
h2 {
	font-family: "Courier New", Courier, mono;
	color: #CC0000;
	font-size: 36px;
}
h6 {
	font-weight: bold;
	color: #000000;
}
a:link {
	color: orange;
}
a:visited {
	color: purple;
}
a:active {
	color: 000000;
}
