<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{- if eq .URL "/" }}
<meta name="description" content="{{ .Site.Params.Description }}">
{{- else if .Description }}
<meta name="description" content="{{ .Description }}">
{{- end }}
<meta property="og:image" content="https://janetlawyip.com/images/janet2.jpg" />
<meta content="janet yip,janet yip waterloo,waterloo fund,waterloo scholarship,{{ delimit .Keywords ", " }}" name="keywords">
<title>
	{{- if eq .URL "/" }}
	{{ .Site.Title }}
	{{- else }}
	{{ .Title }} &middot; {{ .Site.Title }}
	{{- end }}
</title>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129293030-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-129293030-1');
</script>

{{- $inServerMode	:= .Site.IsServer }}
{{- $cssTarget		:= "css/style.css" }}
{{- $cssOptions		:= cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
{{- $style			:= resources.Get "scss/index.scss" | toCSS $cssOptions }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
<link href="https://fonts.googleapis.com/css?family=Inconsolata|Lobster" rel="stylesheet">

<!-- <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}images/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL}}images/apple-touch-icon.png"> -->

<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />