<body bgcolor="red" text="white" link="purple" vlink="blue">


<table width="100%" border="0">
<tr valign="top">
<td width="2%"><font face="Arial,Helvetica" size="3"><B>
Beijing 2008
<BR><font size="2">
By Janet (07/13/01)
</font></b>
<BR>
<img src="../pics/clearpixel.gif" width="150" height="1" border="0"></td>
<td><font face="Arial,Helvetica" size="2">


As predicted, Beijing is victorious in its bid to host the Olympics in 2008. While I am slightly disappointed that we won't be 'expecting the world', I would call Toronto's second place finish something to be proud of in itself, even if it was differenced by 24 votes (Beijing: 56, Toronto: 22, Paris: 18, Istanbul: 9, Osaka: eliminated in first ballot). 
<P>
All three major candidates had their weak points, and I found it sadly funny that Toronto had excellent assets, designs and plans, but our fatal flaw was the financing. That's a bit pathetic, to have what it takes to win an international race - but not enough funding. At least we beat Paris, and maybe that's all we can ever be proud of: not finishing last. 
<P>
However, there'll be time to lick Toronto's wounds later. The spotlight is now on the singing Beijing and its dancing opportunity, with its handicapped human rights issue shoved back behind the curtains. Beijing's competitors have tried diligently to make it a hot topic, but only as an attack whose origins are entirely confined within the Olympic bid race. Do Toronto and Paris TRULY care for the exiled, the silenced, the slaughtered? Of course not. I know it, you know it, Beijing knows it. Similar to the homeless/poverty issues, it is too easy to look the other way. Unless if you have been directly affected, which the majority of the Western world has not, most of us don't give a damn. 
<P>
The Olympics being held in China won't do a thing for the human rights movement, but now that the bid race is over, the subject will hardly be raised, except perhaps by ignorant individuals afraid of foreign circumstances. The Tibetan hippies with their banners and slogans will pose as a novelty that will fascinate tourists, and after their good-intentioned protests under the hot Chinese afternoon sun, they will make a few bucks selling their wooden beads and hemp bracelets to the evening shoppers. The foreigners will find them 'cute'. 
<P>
Thus, with nothing standing in its path, the Chinese will put on a spectacular spectacular. While China has many trading partners around the world, no one really calls it out to play after work. This is an intiation test that China will have to pass to prove to the world how able it is, and how mistaken they were when they previously refused to let it join their reindeer games. 
<P>
First impressions are lasting, and if China does a poor hosting job, everyone will look down on it, muttering told-you-so variations. Of course, this will never happen. The Chinese are too ambitious. These seven years will be spent beautifying the sporting areas and campaigning. Although the dirt may simply be swept under the carpet, when the world walks in, they will see nothing but a breathtaking and impressive city. The little queer squinty-eyed golden-skinned nerds will turn out to be knowing celebrators after all. When the festivities are over, invitations for college parties and keg bashes will follow. 
<P>
***


</font></td></tr></table></font>
<P><HR><P>
