<body bgcolor="red" text="black" link="purple" vlink="blue">
<font face="Arial,Helvetica" size="2">
<img width="142" height="49" src="../pics/views.gif" border="0">
<BR><font face="Courier" size="2" color="white">
&nbsp;&nbsp;&nbsp;subjective thoughts... VERY subjective...</font>
<P><HR><P>
<table width="100%" border="0">
<tr valign="top"><td width="40%">

<!-- INTRO starts -->
<table width="100%" border="0" cellspacing="0" cellpadding="4">
<tr><td bgcolor="2ca500">
<b>Bienvenue</b>
</td></tr>
<tr><td bgcolor="66ff00"><font size="2">
The main purpose behind all my website projects is to give myself an opportunity to write.  Though most of my writing's mundane and horribly ignorant and biased... well whatever.  The point is, if there's any meat, it'd be here, where all my subjective editorials and commentaries are located.
</font></td></tr>
</table>
<!-- INTRO ends -->
<P>
<!-- FEATURE 1 starts -->
<table width="100%" border="0" cellspacing="0" cellpadding="4">
<tr><td bgcolor="78e100">
<b>The Terrorist Within Us</b>
</td></tr>
<tr><td bgcolor="d2ff78"><font size="2">
(02/24/02)
<BR>Here is another essay I wrote, originally for school, but is now published here. This is an issue I feel very passionate about, and perhaps if someone important enough read it, international disaster can be avoided.
<P>
Or maybe the US government will simply confiscate me. There's nothing I can do about that, so I may as well use my voice while I still have it.
<BR><b>... <a href="terrorist.html">Continue -></a></b>
</font></td></tr>
</table>
<!-- FEATURE 1 ends -->

</td><td width="60%">

<!-- QUICKLINKS starts -->
<table width="100%" border="0" cellspacing="0" cellpadding="4">
<tr><td bgcolor="78e100">
<b>Quick Links</b>
</td></tr>
<tr><td bgcolor="cccccc"><font size="2">
<LI><b><a href="terrorist.html">The Terrorist Within Us</a></b> (02/24/02)
<BR>So you think Osama did it? Think again.
<LI><b><a href="geek.html">The Garage of the Geeks</a></b> (01/15/02)
<BR>Tracing the history of the Geek.
<LI><b><a href="beijing2008.html">Beijing 2008</a></b> (07/13/01)
<BR>Insights and predictions on Beijing's winning bid to host the 2008 Olympics
<LI><b><a href="mpp2000.html">The 2000 Markham MPP Candidates</a></b> (11/14/00)
<BR>A review of those running.
<LI><b><a href="asiananthem.html">The Asian Anthem</a></b> (09/00)
<BR>What it's all about.
</font></td></tr>
</table>
<!-- QUICKLINKS ends -->
<P>
<!-- FEATURE 2 starts -->
<table width="100%" border="0" cellspacing="0" cellpadding="4">
<tr><td bgcolor="2ca500">
<b>The Garage of the Geeks</b>
</td></tr>
<tr><td bgcolor="d2ff78"><font size="2">
(01/15/02)
<BR>This was actually an essay I wrote for my 20th Century World History class, but it was a topic of great interest and I had a lot of fun reading it.  Since it wasn't for a university class, the material still belongs to me so I figured I'll post it here.
<BR><b>... <a href="geek.html">Continue -></a></b>
</font></td></tr>
</table>
<!-- FEATURE 2 ends -->

</td></tr></table>


<P><HR><P>
<font face="Courier" size="2" color="white">
&nbsp;&nbsp;&nbsp;Have a nice day!</font>
</font>
<P>