<body bgcolor="red" text="white" link="purple" vlink="blue">


<table width="100%" border="0">
<tr valign="top">
<td width="2%"><font face="Arial,Helvetica" size="3"><B>
The 2000 Markham MPP Candidates
<BR><font size="2">
By Janet (11/14/00)
</font></b>
<BR>
<img src="../pics/clearpixel.gif" width="150" height="1" border="0"></td>
<td><font face="Arial,Helvetica" size="2">


Today, my school had the privilege of having the local MPP candidates visit us in an attempt to gather support. Well, my mind is made up. Here's what they (more or less) had to say: 
<P>
"Even though I talk like I have a lawn sign stuck in my throat, I'm actually your best bet this election..." 
<BR>-- McCallum - Liberal 
<P>
"I better use my 5 minutes wisely to tell everyone about my first computer back in the eighties! And if there's still time, maybe I`ll talk about my platform for a bit..." 
<BR>-- Scrymgeour - PC 
<P>
"Everyone hates me anyway, so I'm just going to sit here and read off my own pamphlet. Screw you all. Losers." 
<BR>-- Jones - Alliance 
<P>
"We need more hospitals and schools! Where will we get the money from, you ask? Well, we'll either raise taxes indefinitely, or pull it out from magic dust." 
<BR>-- Hagan - NDP 
<P>
"Hey, I have an idea! Lets all go back to the 19th century and use the railway system again! Except this time, the women will be the stronger sex!" 
<BR>-- Manning - GreenParty 
<P>
"... And that is why you should vote for me to be the representative of... *frantically searching through paper* ... Markham!" 
<BR>-- Choudhry - Independent 
<P>
"Who the hell am I??! No one knows and no one cares!" 
<BR>-- Some guy from the Canadian Action Party
<P>
* * * 



</font></td></tr></table></font>
<P><HR><P>
