<HTML><head>
<link rel="stylesheet" type="text/css" href="style.css" />
<TITLE></TITLE>
</head>
<body STYLE="background-color:transparent">


<b><font size="4" color="black">The Asian Anthem</font></b>
<br><font SIZE="2" COLOR="gray">[09/00]</font>
<p><hr><p>
<font SIZE="2">


Yo yo, aZn prYde! 
<p>
Do I have Asian pride? 
<br>Hell yeah! 
<p>
Here'z da 411: 
<p>
First of all, I've got da moves. I invented Dance Dance Revolution. My sistahs and I are at the mall every weekend. We're the ones who've memorized the steps to every song, and spend the whole day dancing without having to look at the screen. 
<p>
Second, I've got da looks. I've got flare jeans that have been Asianized by having been dipped into car bleach. I've got wooden sandals that make an annoyingly loud hollow-clucking sound whenever they hit the floor. I've got tiny pink shirts, and ultra-cool glasses with thick neon-blue rims. The best part is my hair though. Everyone knows that orange hair compliments a yellow face, right? Plus, when I weave in strange-looking feather-like crap, (really just lint I picked off my stuffed Snoopy,) who can deny my roots? 
<p>
Third, I've got da gear. I drive my Civic around, with `AI-YAI-YAI, I'm your little BUTTAFLAI` blasting loudly. I have a pager and a cell that I carry with me all the time, even if the only people who will call me are my other sistahs, who want to make use of their machines as much as me. 
<p>
There are some disadvantages though. I'm a short skinny freak because I drink and smoke too much. I hate cigarettes and beer, but I force it all down. After all, I'm Asian, right? I have to be coo' wit da crew. 
<p>
I lie about having a hot boyfriend who lives somewhere in Scarborough and who spins for clubs. But of course, in reality, no guy will go out with me. Why? Because although I sleep with everyone I meet on the internet, I can only giggle squeakily whenever I see a normal decent guy. 

<p>
But that's okay, because, I know I'm hYpE, yO. After all, as you must have noticed, I've got da talk too. I've replaced my vocabulary with words like `aight`, `cold`, `hype`, `flop` or anything else I might hear on BET. 
<p>
And I say, bring it on! 



<p><hr><p>
<center>* * *</center>
</font>



</BODY></HTML>