<HTML><head>
<link rel="stylesheet" type="text/css" href="style.css" />
<TITLE></TITLE>
</head>
<body STYLE="background-color:transparent">

<b><font size="4" color="black">A Chinese Medicine Primer</font></b>
<br><font SIZE="2" COLOR="gray">[10/10/03],
<BR>revised [03/19/04]</font>
<p><hr><p>
<font SIZE="2">





For the non-Oriental dating an Asian chick whose mom just served you a steaming bowl of Lotus Root.
<P>
Chinese soups are not like Western soups you have as a meal.  Chinese soups are usually for medicinal purposes.  (Hot and sour soup and shark’s fin soup are exceptions.)  However, that doesn’t mean you have to be sick to take soups.  Chinese medicine goes by the saying “Prevention is better than recovery.”  I think I got that saying wrong.
<P>
Chinese medicine is based on the idea of balance, and we have a hot-cold scale.  If you’re anywhere but in the middle, you're unhealthy.  If you’re on the hot side, you have to have something that’s on the cold side, but too much of that will make you “cold” sick.  Pretty much every common ailment is because one is too hot or too cold.  If it is neither, then it must be some sort of crazy ailment.  Kind of like complex numbers.  They are off the real number scale; they're in a whole other fucking dimension; certainly too crazy for me!
<P>
It's not really 'hot' and 'cold' temperature-wise.  It is just a way of distinguishing them as opposites.  Like yin and yang.
<P>

<B>--- CAUSES ---</B>
<P>
You can get too much on the hot side by eating a lot of chocolate, fried/baked foods, beef, spicy foods.  Red beans are hot.  Also, lack of sleep will make you worse if you are already hot.  Also right before a woman's period, they are full of blood (a hot thing) so they are probably hot.
<P>
You can go back to the cold side by eating a lot of melon-type fruits and raw vegetables/fruits in general.  Green beans are cold.  Women who have just finished their period or have gone through pregnancy are lacking blood so they may be on the cold side afterward.  They usually have to take some hot-restoring medicinal soup.
<P>
Since women need a lot of blood to do the things they do, they are often vulnerably on the cold side.  It also follows that men cannot be too much on the hot side.
<P>

<B>--- SYMPTOMS ---</B>
<P>
Symptoms of being too hot are sores inside your mouth (cold sores, canker sores,)  pimples, nosebleeds (in extreme cases.)
<P>
Symptoms of being too cold are dizziness, feeling faint...  This is why more women are susceptible to dizziness, especially after their period.
<P>
Usually, people are too much on the hot side because eating chips and fries and roast beef is more fun than eating a whole fucking watermelon by yourself.  Thus, eating 'cold' foods are, for the most part, healthy for you.
<P>
Soups can be pretty powerful.  For example, taking the famous Lotus Root soup (a cold soup,) will overnight take away (or greatly help) whatever cold sore, sore throat, etc that one may have.  It is considered to be very good for you.
<P>

<B>-- A BRIEF HISTORY OF SOUP ---</B>
<P>
For generations and generations, mothers make it for their kids and as a tradition, force them into drinking it.  Some "wealthy" or "liberal" traditional homes may offer the child some small sweet, possibly a dried but sticky pruny fruit wrapped in tissue, in exchange for drinking it.  Others will beat their children if they refuse to drink it.  My grandmother
used to coo the grandkids into taking it, but at times, she would have to chase someone around the flat with the feather duster if there was resistance.
<P>
I remember sometimes being reluctant to take it.  It was futile though, Chinese mothers really do force their kids to eat and drink stuff.  They say that you can lead a horse to water but you can't make it drink.  Well you must be white, cowboy.  For centuries, the Chinese have been accomplishing many things using threat of force combined with real force.  There is speculation that Stalin once visited Mao and was impressed with the way he was able to force his people to do things.  But mind you, Stalin did not watch Mao
bark orders at brave trained soldiers at a military camp.  Stalin became the Man of Steel after watching Mao babysit his toddler grandchildren on a warm sunny Saturday afternoon.  In the park.





<P>



<p><hr><p>
<center>* * *</center>
</font>

</BODY></HTML>



