<HTML><head>
<link rel="stylesheet" type="text/css" href="style.css" />
<TITLE></TITLE>
</head>
<body STYLE="background-color:transparent">

<b><font size="4" color="black">Christmas Evil</font></b>
<br><font SIZE="2" COLOR="gray">[11/28/03]</font>
<p><hr><p>
<font SIZE="2">



Let's be honest now: Christmas is EVIL.
<p>
Even with the disagreements and wars between religions and sects, Christmas
remains widely celebrated or at least acknowledged.  Most people will agree
that preparations for Christmas begin after Halloween.  These people are
wrong.  The truth is that Halloween never stops; Christmas is simply an
extension of the Devil's Night under a snowy guise.  You know what else
hides beneath a snowy guise?  Black ice.
<p>
But there we are, November 1st.  The kids are still on their sugar rush,
and the rest are still hungover.  And, hmm, what's this piece of paper
that's been slipped under my door?
<p>
A wishlist?  Yes, that's right.  A list of wishes.  People sit around in
GREED and write down all the stuff that they want somebody to give them,
for free, without working.  And while "Peace on Earth" or "My son home for
Christmas" or "Daddy to stop hitting Mommy" may appear from time to time,
you'll more likely find materialistic wishes, such as "Special Golden
Anniversary Collector's Edition Barbie" or "LEGO Full Medieval Castle
Kingdom Set: 10 pieces" or "Realistic Crawling, Eating, Screaming, Pissing
Baby Doll" or "Superstar Glamour Make-Up Kit for Pre-Pre-Preteen
Superstars". Or "G.I. Joe Battle Rifle" or "Lone West Hold-up Pistol" or
"Futuro Zappy Death Laser" or maybe just "Toy Gun".
<p>
Why so much COVETRY?  Because this whole degenerated society has been
raised on BRIBERY.  Why do we tell the children to not be bad lest they
receive a lump of coal instead of the latest PS2 Grand Theft Auto video
game?  The children should not be bad for no reason other than that Grandma
will fall down the stairs and die if they keep kicking her in the spine
like that.
<p>
This new-generation greed is not of the old-day ambitious Capitalist
I-want-it-so-I'll-work-for-it type greed.  It is a brat's greed, and
manifests itself in a mess of whines, tears, and screams in the toy aisle
of Wal-Mart.  Blame it on the hormones they put in today's cereals... or
maybe it's because two aisles over, their parents are showing similar
displays of ANGER as they make their Christmas purchases.  Remarkable that
this joyous holiday can prove to be so much stress.
<p>
With the amount of preparation most are compelled to make, perhaps
everybody can be forgiven the shopping rage, the road rage, the tree-setup
rage.  But even when all the work is done and it is time to relax, do the
celebrators' saintly selves finally emerge?
<p>
NO.  What follows is PROUD GLUTTONY.  Weeks before the big night,
residences are strewn in bright energy-chugging lights that are left on at
all hours.  Neighbourhoods even hold contests over which street can most
blasphemize the invention of electricity.
<p>
For too many people, this wastage does not raise a single question.  They
also quite willingly pay the electricity bills, though get a food drive
going, and their generosity will only yield old cans of sour tomato sauce
that they can't use for their own gluttonous feasts of MEAT, which is
always the centerpiece for most Christmas dinners.  "Tofu turkey?  Haha,
that's funny, but come on now, stop with the jokes, we're starving, bring
out the meat!"
<p>
Why do dead animals play such a horridly important role during Christmas?
Is it because when Jesus was born in a manger, he and everybody else
started to chop up and eat the horses and lambs that were there?  Is it
because he metaphorically drank the blood and ate the flesh of his
brothers?  Is it because he had 'steaks' in his hands when he was
crucified?  "Haha, that's funny, but come on now, stop with the jokes,
we're starving, bring out the meat!"
<p>
So eat it up, drink it up, and later tell your husband that it's his child
"in spirit" just like the ADULTEROUS Virgin Mary, because the biggest,
fattest, jolliest lie is the man holding the whip on all of you.  SANTA.
Like SATAN, he is born, amongst other evils, out of LIES.  Go ahead.  Raise
the kids on the notion that there is no need for Mommy or Daddy to work so
hard overtime to make payments because there is a freely-giving happy
Communist out there.  And then the kids will grow up to be Santa
themselves, only instead of coming down the chimney and bringing you
presents, they'll be coming in through the window and taking away your TV
set.
<p>
Maybe it's time we stop dressing things up like a Manhattan queen.  Maybe
it's time we tell the kids that Santa's suit is red from the blood of the
dead turkey he's got his fork stabbed in.  That Rudolph's nose is red
because the deer mill owner left him out in the snow.  That Daddy's nose is
red for a different reason and the red lights outside the window are from
an ambulance coming to take him away.
<p>
Soon, New Year's Eve arrives as the night before the Apocalypse when the
people look back and are suddenly regretful for all their sins.  They look
up at the night sky, and swear, by those hundred-thousand-dollar
taxpayer-sponsored fireworks lighting up the Toronto City Hall, resolutions
to change for the better.  For a few days, they walk on Earth with bright
and eager benevolence, but by January 5th, they have once again reduced
themselves to another year of SLOTH until the next Season of Darkness.
<p>
So this year, when you are receiving those cute, fuzzy, scented, musical,
light-up cards wishing you a Merry X-mas, remember: the 'X' stands for
EVIL.

<P>



<p><hr><p>
<center>* * *</center>
</font>

</BODY></HTML>