<HTML><head>
<link rel="stylesheet" type="text/css" href="style.css" />
<TITLE></TITLE>
</head>
<body STYLE="background-color:transparent">

<b><font size="4" color="black">Eat THIS</font></b>
<br><font SIZE="2" COLOR="gray">[11/20/03]</font>
<p><hr><p>
<font SIZE="2">



Trends come, they go, they come again.
<BR>Cars were small when they were introduced at the beginning of the century. Then they were big.  Now they're small again.
<BR>In the nineties, the sixties were a popular theme in fashion.  And not just with washed-out potheads who lived in the past.  These were cool, beautiful people.
<P>
So it seems that trends run in cycles, and perhaps that's what has hit the curiosity known as vegetarianism.  Consider the history of man's eating habits:
<P>
<LI>Johnny Amoeba evolved out of nothing and fed on plants for a while.
<LI>Soon, Johnny Caveman came along and started to eat the dinosaurs faster than an armageddon comet.
<LI>Then, Johnny Explorer sailed around and developed a distaste for scurvyed-meat.
<LI>Later, Johnny America whipped out the fridge and began having steak dinners with the Joneses every night.
<LI>But now, Johnny Greenpeace has decided that maybe meat ain't so cool, with the SARS thing and all.
<P>
The problem is that at the arrival of Johnny Greenpeace, Johnny America hadn't quite left the building yet.  Both have equally sharp canine teeth and neither are afraid to use them, and what this has led to is a freeDUMB-loving and toleRANTING SOCIETY.
<P>
So everybody lives together, even if their values directly conflict. Segregation is worse, but how is a timid newborn vegetarian to eat her steamed bean sprouts while watching her lover sink his teeth into a succulent cut of flame-grilled tenderloin?  While being served the airline vegetarian alternative consisting of greasy grease-fried grease rolls?  While being sold by McDonalds and Harveys the same old hamburger with more illustrious names each quarter?
<P>
Granted, everybody needs to formulate their own creative ways to beat the temptations.  The trick is to realize that the sins of the mind are innocent as long as there are no sins of the body with vegetarianism.  What that means is fool yourself into thinking you're having meat.

<P>Stir-fry your bok-choi with rib sauce.  CHEAP rib sauce to ensure its purity.  Buy baloney.  CHEAP baloney.  There'll be no meat there.  And occasionally, you'll be spitting out bone, so you can even pretend you're having wings.
<P>Just buy very cheap meat period.  That's another advantage.  You'll realize that you'll be saving a lot of money on your grocery bill, so you'll very soon be able to afford that SUV you'd eat your own grandmother's arm for.
<P>
Of course, quitting cold turkey (pun intended) may not be easy, so a good starting point is beef.  I may be standing corrected when a nutritionomonologist sees this, but until they arrive, I will say that there is absolutely no nutritional value in beef.  Beef has the strongest meatiest bloodiest taste and texture, and the only reason people eat beef at all is for fun.  And I suppose out of revenge too, for some.  But really, there is no reason to eat beef.  So kick it.  Once you've gotten it out of your system, you will feel much healthier, and you will start to hate that bloody taste you once loved.
<P>
That's the key to it.  Hate your enemy.
<BR>That's how those stupid American soldiers won their wars, and that's how you'll win too, kid.
<P>
After beef is pork.  Pork is the other unhealthy one, but it's a lot more difficult.  You see, those little spies are in everything: bacon, sausage, pork chops... like some sort of magical animal, Lisa!  I've got no easy solution to the pork dilemma, but once you've rid yourself of it, you're left with chicken and fish, with plenty of nutrients.  When / if you want to get pass that, make sure you've got another good source of what you need to stay alive, and as was just pointed out by a tip: TOFU IS NOT INVINCIBLE!  You gotta make sure it's organic!  Apparently, modern farming practices have drained a lot of goodness out, so you'd just be eating jello with a boring food colouring intended for blind people, and none of us want that.
<P>
The main battle remains however, though it is less obvious.  Most people don't realize it, but those peace-loving dim-witted vegetarians get a lot of harassment from the omnivores.  On coming out, your friends will laugh at you and try to trick you into eating meat.  Mothers hate it, they seem to take it as an insult to their cooking.  But many people will simply not understand your choice, and will discourage you with such questions/comments as:
<P>
<LI> WHY?
<LI> But it's so good!
<LI> They're going to die anyway.
<LI> So why do you eat plants then? Aren't you killing THEM?
<LI> I hear you guys worship cows and you think they're god or something.
<P>The last one I guess you can let the Hindus deal with.
<BR>But really, there is no need for you to explain yourself.  The truth is that vegetarianism is NOT a curiosity, because this is the soundest eating choice you can make.  Eating meat when there is an abundance of rich fruits and vegetables is as natural as killing for sport.  While the cow that you spare may be eaten by somebody else, the thousand mile journey begins with a single step, and you can rest at night with your hands free of blood.
<P>
Vegetarianism isn't just for punk rock kids anymore.
<P>



<p><hr><p>
<center>* * *</center>
</font>

</BODY></HTML>