/* nav bar */
#nav {
  height: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  z-index: 20;
  font-family: "Noto Serif";
}

#nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
}

#nav li {
  text-align: center;
  width: 200px;
}
