#top {
  background-color: #fff;
  width: 100%;
  padding: 48px 0;
  border-bottom: 1px solid #efefef;
  transition: top 0.2s linear;

  @media (max-width: 850px) {
    padding: 32px 0;
  }

  @media (max-width: 650px) {
    padding: 24px 0;
  }

  &.offset {
    position: fixed;
    top: -175px;
    left: 0;
    @media (max-width: 850px) {
      top: -145px;
    }
    @media (max-width: 650px) {
      top: -130px;
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
  }

  span {
    display: block;
    text-align: center;
  }

  .pre {
    color: #3c3c3c;
  }

  .main {
    font-family: "Lobster";
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 4px;
  }

  .sub {
    font-size: 1.1rem;
    color: #3c3c3c;
  }
}

#nav-offset {
  &.sticky {
    margin-top: 175px;
    @media (max-width: 850px) {
      margin-top: 145px;
    }
    @media (max-width: 650px) {
      margin-top: 130px;
    }
  }
}
