img.expandable {
  max-width: 100%;

  &:hover {
    cursor: pointer;
  }
}

#preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 0;

  &.visible {
    display: block;
    z-index: 100;
  }

  #img-preview {
    display: block;
    margin: 75px auto;
  }

  #img-close {
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 10px 15px;
    border: 1px solid #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.1s linear;

    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: #000;
    }
  }
}
