<style type="text/css">
<!--
a:visited 
{
text-decoration: none;
color: #CCCCFF
}
a:link
{
text-decoration: none;
color: #FFFF00
}
a:hover
{text-decoration: underline}

body:
{
font-family: Arial,Helvetica,Verdana,sans-serif;
color:#FFFF00;
font-size:12px

}

-->
</style>